@charset "utf-8";
/* CSS Document */

* {padding:0; margin:0;}
body{font-family:Verdana, Geneva, sans-serif; font-size:11px;}
p{margin:10px 0;}
h1{}
h2{text-transform:uppercase;}
h3{}
h4{color:#000; clear:both;}
	h4 span{color:#ed1c24;}
h5{text-transform:capitalize; color:#959595;}

/* get rid of those system borders being generated for A tags */
a:active {outline:none;}
:focus {-moz-outline-style:none;}


#formWrapper{width:972px; margin:25px auto; background:#fafafa; overflow:hidden;}
#formWrapper input[type="text"], #formWrapper textarea  {color:#959595}
#formWrapper textarea, #formWrapper input{margin:5px 0;}
#formWrapper .rightCol{width:335px; float:left; padding:10px;}
#formWrapper .rightCol .box50 input[type="text"] {width: 50px;}
#formWrapper .rightCol .box142 input[type="text"] {width: 142px; margin-right:5px;}
#formWrapper .rightCol input[type="text"] {width: 295px;}
	.tuayTitle{width:150px; float:left;}
#formWrapper .rightCol textarea{width:325px; height:110px;}
#formWrapper .leftCol{width:300px; float:left; padding:10px;}



#tuay{clear:both; padding:35px;}
	#tuay h2{background:url(img/tell_us_about.gif) no-repeat; height:30px; text-indent:-9999px;}

#wcwdfy{clear:both; padding:35px;}
	#wcwdfy h2{background:url(img/what_we_can_do.gif) no-repeat; height:30px; text-indent:-9999px;}

#tuayc{clear:both; padding:35px;}
	#tuayc h2{background:url(img/tell_us_about_your_company.gif) no-repeat; height:30px; text-indent:-9999px;}

#irtwd{clear:both; padding:35px;}
	#irtwd h2{background:url(img/in_regards_to.gif) no-repeat; height:30px; text-indent:-9999px;}

#lastDetails{clear:both; padding:0 35px;}

#formSubmit{clear:both; padding:35px;}
	#sendBut {width:59px; height:40px; padding:55px 0 0; margin:0; border:0; background: transparent url(img/send.jpg) no-repeat center top; overflow:hidden; cursor:pointer; float:right;}
	form > #sendBut {height:0px;}/* For non-IE browsers*/

/*==== TOOLTIPS ====*/
.tooltip {color:#959595; width:280px; text-align:left;}

/*==== ERROR STYLES ====*/
.error{color:#F00; font-weight:bold; margin:-5px 0 5px; float:left;}